<!-- Navbar -->
<nav
  class="fixed top-0 left-0 w-full bg-white/80 backdrop-blur-lg shadow-md z-50"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-24 items-center">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <a href="menu.html">
          <img
            src="./assets/logoapp.png"
            alt="Logo"
            class="h-24 hover:scale-110 transition-all"
          />
        </a>
      </div>

      <!-- Botões -->
      <div class="flex space-x-3">
        <!-- Início -->
        <a
          href="menu.html"
          id="inicioBtn"
          class="bg-[#00796b] text-white px-4 py-2 rounded-xl shadow-md hover:bg-[#00695c] transition font-medium"
        >
          Início
        </a>

        <!-- Suporte -->
        <a
          href="https://wa.me/5562986442841?text=Olá, preciso de suporte"
          target="_blank"
          class="bg-[#26a69a] text-white px-4 py-2 rounded-xl shadow-md hover:bg-[#1f8e83] transition font-medium"
        >
          Suporte
        </a>

        <!-- Logout -->
        <button
          id="logoutBtn"
          class="bg-[#d32f2f] text-white px-4 py-2 rounded-xl shadow-md hover:bg-[#b71c1c] transition font-medium hidden"
        >
          Sair
        </button>

        <!-- Registrar -->
        <a
          href="register.html"
          id="registerBtn"
          class="bg-[#00796b] text-white px-4 py-2 rounded-xl shadow-md hover:bg-[#00695c] transition font-medium hidden"
        >
          Registrar
        </a>

        <!-- Login -->
        <a
          href="login.html"
          id="loginBtn"
          class="bg-[#004d40] text-white px-4 py-2 rounded-xl shadow-md hover:bg-[#003f35] transition font-medium hidden"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</nav>
